h1, h2, h3, h4, h5, h6, p, a, li, th, td, label {
  font-family: "ubuntu-r";
}

@font-face {
  font-family: "ubuntu-b";
  src: url("../font/Ubuntu-B.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-bi";
  src: url("../font/Ubuntu-BI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-c";
  src: url("../font/Ubuntu-C.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-l";
  src: url("../font/Ubuntu-L.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-li";
  src: url("../font/Ubuntu-LI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-m";
  src: url("../font/Ubuntu-M.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-mi";
  src: url("../font/Ubuntu-MI.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-r";
  src: url("../font/Ubuntu-R.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu-ri";
  src: url("../font/Ubuntu-RI.ttf") format("truetype");
}
#blog {
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 15%);
  color: white;
  position: relative;
  margin: 0;
  height: 100vh;
  align-items: center;
}
#blog > #main {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 0 20px;
  overflow-y: scroll;
}
#blog > #main::-webkit-scrollbar {
  display: none;
}
#blog > #main h1 {
  text-align: center;
}
#blog > #main > div {
  margin-bottom: 100px;
}
#blog #dynamic, #blog #summary {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
#blog #summary > a {
  font-size: 20px;
  padding: 20px;
}
#blog #summary > a:hover {
  background-color: hsl(0, 0%, 20%);
}
#blog #commento {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: hsl(0, 0%, 15%);
  flex-direction: column;
}
#blog #menu-section, #blog #tags-section, #blog #categories-section, #blog #search-section, #blog #summary-section, #blog #dynamic-section {
  display: none;
  position: absolute;
  width: 100vw;
  max-width: 800px;
  height: 100vh;
  background-color: hsl(0, 0%, 15%);
  flex-direction: column;
  overflow-y: scroll;
  align-items: left;
}
#blog #menu-section .header, #blog #tags-section .header, #blog #categories-section .header, #blog #search-section .header, #blog #summary-section .header, #blog #dynamic-section .header {
  align-self: center;
  padding-right: 16px;
}
#blog #menu-section .row, #blog #tags-section .row, #blog #categories-section .row, #blog #search-section .row, #blog #summary-section .row, #blog #dynamic-section .row {
  cursor: pointer;
}
#blog #menu-section .row:hover, #blog #tags-section .row:hover, #blog #categories-section .row:hover, #blog #search-section .row:hover, #blog #summary-section .row:hover, #blog #dynamic-section .row:hover {
  background-color: hsl(0, 0%, 20%);
}
#blog #menu-section .row, #blog #menu-section .header, #blog #tags-section .row, #blog #tags-section .header, #blog #categories-section .row, #blog #categories-section .header, #blog #search-section .row, #blog #search-section .header, #blog #summary-section .row, #blog #summary-section .header, #blog #dynamic-section .row, #blog #dynamic-section .header {
  display: flex;
  align-items: center;
}
#blog #menu-section .row i, #blog #menu-section .header i, #blog #tags-section .row i, #blog #tags-section .header i, #blog #categories-section .row i, #blog #categories-section .header i, #blog #search-section .row i, #blog #search-section .header i, #blog #summary-section .row i, #blog #summary-section .header i, #blog #dynamic-section .row i, #blog #dynamic-section .header i {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#blog #menu-section::-webkit-scrollbar, #blog #tags-section::-webkit-scrollbar, #blog #categories-section::-webkit-scrollbar, #blog #search-section::-webkit-scrollbar, #blog #summary-section::-webkit-scrollbar, #blog #dynamic-section::-webkit-scrollbar {
  display: none;
}

#tags, #categories {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

nav {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
nav p {
  margin: 5px;
  width: 90px;
  height: 90px;
  border-radius: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(0, 0%, 10%);
}
nav p i {
  font-style: normal;
}

.note {
  border-left: gray 5px solid;
  padding: 10px;
  margin: 10px 0 10px 0;
}

.code {
  padding: 10px 20px;
  font-style: italic;
  margin: 10px 0 10px 0;
  background-color: grey;
  border-radius: 4px;
  color: white;
  display: table;
  flex-direction: column;
}
.code p {
  margin: 5px;
}

.red {
  background-color: hsl(0, 50%, 40%);
}

.orange {
  background-color: hsl(60, 50%, 40%);
}

.yellow {
  background-color: hsl(120, 50%, 40%);
}

.green {
  background-color: hsl(180, 50%, 40%);
}

.blue, .summary {
  background-color: hsl(240, 50%, 40%);
}

.violet {
  background-color: hsl(300, 50%, 40%);
}

i {
  font-style: italic;
}

b {
  font-weight: bold;
}

strong {
  font-weight: bold;
  font-style: italic;
}

mark {
  background-color: white;
  padding: 0 4px;
}

a {
  color: white;
  text-decoration: none;
}
a p {
  margin-bottom: 0;
}

.chip {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 10px;
  border-radius: 90px;
  background-color: hsl(0, 0%, 10%);
  margin: 2px;
  cursor: pointer;
}
.chip p {
  margin: 0;
}
.chip .label {
  width: 15px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  padding: 5px;
  border-radius: 90px;
  background-color: hsl(0, 0%, 30%);
}

.hidden {
  display: none;
}

.tags {
  margin-bottom: 10px;
  display: flex;
}
.tags p {
  padding: 10px;
}

.link {
  margin-top: 10px;
  background-color: hsl(0, 0%, 30%);
  border-radius: 5px;
  padding: 20px;
}
.link > p {
  margin: 0;
}
.link span {
  font-style: italic;
  font-size: 14px;
}

.btn {
  cursor: pointer;
}
.btn:hover {
  background-color: hsl(0, 0%, 20%);
}

#close-btn {
  z-index: 1;
}

/*# sourceMappingURL=main.css.map */
