//===========\\
// VARIABLES \\
//===========\\

//--------\\
// COLORS \\
//--------\\
$red: hsl(0, 50%, 40%)
$orange: hsl(60, 50%, 40%)
$yellow: hsl(120, 50%, 40%)
$green: hsl(180, 50%, 40%)
$blue: hsl(240, 50%, 40%)
$violet: hsl(300, 50%, 40%)

$d-grey: hsl(0, 0%, 10%)
$grey: hsl(0, 0%, 15%)
$l-grey: hsl(0, 0%, 20%)
$ll-grey: hsl(0, 0%, 30%)

//-------------\\
// BREAKPOINTS \\
//-------------\\
$bp: ('phone': 320px, 'tablet': 768px, 'desktop': 1024px, 'large': 1200px)

//-------\\
// FONTS \\
//-------\\
$main-font: "ubuntu-r"

h1, h2, h3, h4, h5, h6, p, a, li, th, td, label
    font-family: $main-font

@font-face
    font-family: "ubuntu-b"
    src: url("../font/Ubuntu-B.ttf") format("truetype")

@font-face
    font-family: "ubuntu-bi"
    src: url("../font/Ubuntu-BI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-c"
    src: url("../font/Ubuntu-C.ttf") format("truetype")

@font-face
    font-family: "ubuntu-l"
    src: url("../font/Ubuntu-L.ttf") format("truetype")

@font-face
    font-family: "ubuntu-li"
    src: url("../font/Ubuntu-LI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-m"
    src: url("../font/Ubuntu-M.ttf") format("truetype")

@font-face
    font-family: "ubuntu-mi"
    src: url("../font/Ubuntu-MI.ttf") format("truetype")

@font-face
    font-family: "ubuntu-r"
    src: url("../font/Ubuntu-R.ttf") format("truetype")

@font-face
    font-family: "ubuntu-ri"
    src: url("../font/Ubuntu-RI.ttf") format("truetype")

//============\\
// FILE STYLE \\
//============\\
#blog
    display: flex
    // justify-content: center
    flex-direction: column
    background-color: $grey
    color: white
    position: relative
    margin: 0
    height: 100vh
    align-items: center

    //------\\
    // BLOG \\
    //------\\
    & > #main
        display: flex
        flex-direction: column
        max-width: 800px
        padding: 0 20px
        overflow-y: scroll

        &::-webkit-scrollbar
            display: none

        h1
            text-align: center
        
        & > div
            margin-bottom: 100px
        
    #dynamic, #summary
        display: flex
        flex-direction: column
        padding: 0 20px

    #summary > a
        font-size: 20px
        padding: 20px

        &:hover
            background-color: $l-grey

    #commento
        // display: none
        position: absolute
        width: 100vw
        height: 100vh
        background-color: $grey
        flex-direction: column

    #menu-section, #tags-section, #categories-section, #search-section, #summary-section, #dynamic-section
        display: none
        position: absolute
        width: 100vw
        max-width: 800px
        height: 100vh
        background-color: $grey
        flex-direction: column
        overflow-y: scroll
        align-items: left

        .header
            align-self: center
            padding-right: 16px

        .row
            cursor: pointer

            &:hover
                background-color: $l-grey

        .row, .header
            display: flex
            align-items: center

            i
                width: 60px
                height: 60px
                display: flex
                justify-content: center
                align-items: center

        &::-webkit-scrollbar
            display: none

#tags, #categories
    width: 100%
    display: flex
    flex-wrap: wrap
    justify-content: center

nav
    position: absolute
    bottom: 0
    right: 0
    display: flex
    flex-wrap: wrap
    justify-content: flex-end

    p
        margin: 5px
        width: 90px
        height: 90px
        border-radius: 90px
        display: flex
        justify-content: center
        align-items: center
        background-color: $d-grey

        i
            font-style: normal

//-----------------\\
// ASCCIDOC PARSER \\
//-----------------\\
.note
    border-left: gray 5px solid
    padding: 10px
    margin: 10px 0 10px 0

.code
    padding: 10px 20px
    font-style: italic
    margin: 10px 0 10px 0
    background-color: grey
    border-radius: 4px
    color: white
    display: table
    flex-direction: column

    p
        margin: 5px

.red
    background-color: $red

.orange
    background-color: $orange

.yellow
    background-color: $yellow

.green
    background-color: $green

.blue, .summary
    background-color: $blue

.violet
    background-color: $violet

i
    font-style: italic

b
    font-weight: bold

strong
    font-weight: bold
    font-style: italic

mark
    background-color: white
    padding: 0 4px
a
    color: white
    text-decoration: none

    p
        margin-bottom: 0

.chip
    display: flex
    align-items: center
    padding: 10px 20px 10px 10px
    border-radius: 90px
    background-color: $d-grey
    margin: 2px
    cursor: pointer

    p
        margin: 0

    .label
        width: 15px
        height: 15px
        display: flex
        align-items: center
        justify-content: center
        margin-right: 10px
        padding: 5px
        border-radius: 90px
        background-color: $ll-grey

.hidden
    display: none

.tags
    margin-bottom: 10px
    display: flex

    p
        padding: 10px

.link
    margin-top: 10px
    // border: 1px solid
    background-color: $ll-grey
    border-radius: 5px
    padding: 20px

    & > p
        margin: 0

    span
        font-style: italic
        font-size: 14px

.btn
    cursor: pointer

    &:hover
        background-color: $l-grey

#close-btn
    z-index: 1